

.contenedor-1{
    background-image: url(C:\Users\Usuario\Desktop\proyecto_bit_1\HTML\replica-microsoft);}


.caja-principal{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 95vh;
}
.logo{
    padding-top: 10%;
    padding-left: 10%;
}
.caja-inicio{
    width: 440px;
            height: 350px;
            background-color: white;
}

.inicio-sesion,.caja-correo{
            padding-left: 10%;
            justify-content: center;
}
.email{
    width: 80%;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
}


.caja-cuenta{
    display: flex;
    padding-left: 10%;
    text-align: center;
}

.caja-cuenta a {
    color:rgb(91, 130, 202)
}
.caja-acceso a {
    padding-left: 10%;
    color: rgb(91, 139, 202);
}

.caja-botones{
    display: flex;
    justify-content: end;
    padding-right: 10%;
    padding-top: 10%;
}

.caja-opciones-inicio{
display: flex;
    

.atras{
    padding: 10px 12px 10px 12px;
    margin-right: 5px;
    color:black
}
.atras{
    padding: 10px 12px 10px 12px;
    margin-right: 5px;
    color:black
}

.siguiente{
    padding: 4px 12px 4px 12px;
    color:white;
    background-color:#0067b8;
    border-color: #0067b8;
}}
.siguiente{
    padding: 4px 12px 4px 12px;
    color:white;
    background-color:#0067b8;
    border-color: #0067b8;
}